[v3_ca]
basicConstraints=CA:FALSE
keyUsage=critical,digitalSignature
extendedKeyUsage=critical,serverAuth,clientAuth
subjectAltName=DNS:ocsp.valid.ivanovii.ru
authorityInfoAccess=OCSP;URI:http://ocsp.ivanovii.ru:2560
